$red: #FF6464;
$blue: #5CC5E3;
$yellow: #E6FFA9;
$violet: #D456CA;
$green: #2AFFA6;


$team1: #ff7171;
$team2: #f28d2a;
$team3: #b463ff;
$team4: #71cdff;
$team5: #3ce571;
$team6: #3c49e5;
$team7: #e225d1;
$team8: #d51849;
$team9: #9a4702;
$team10: #287ecc;






